body
{
background-color:#0dcef7;
font-size:14px;
}
h1
{
color:#ffffff;
}
.arial
{
font-family:arial;
border-size:2px;
border-color:#000000;
border-style:solid;
padding: 30px;
text-align:center;
/*border:2px solid #000000;*/
}
.verdana
{
font-family:verdana;
border:1px solid #cc0000;
/*margin-top:10px;*/
margin:10px 0 0 0;
text-align:center;
}
#delfini
{
opacity:0.5;
}

